<!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form (ngSubmit)="registrar()" #form="ngForm" enctype="multipart/form-data">
  
          <h2 class="text-center">Registro de Usuario</h2>
  
          <div class="mb-3 row">
            <label for="tenantId" class="col-sm-3 col-form-label">Empresas registradas</label>
            <div class="col-sm-9">
              <select [(ngModel)]="selectedCompany" (ngModelChange)="onCompanySelect()" class="form-control" id="tenantId" name="tenantId" required>
                <option value="null" disabled selected>Seleccione su empresa</option>
                <option *ngFor="let company of companys" [ngValue]="company">{{ company.nameCompany }}</option>
              </select>
            </div>
          </div>
  
          <div *ngIf="selectedCompany" class="mb-3 row">
            <label for="username" class="col-sm-3 col-form-label">Nombre:</label>
            <div class="col-sm-9">
              <input type="text" [(ngModel)]="User.username" class="form-control" id="username" name="username" placeholder="Nombres y apellidos" required>
            </div>
          </div>
  
          <div *ngIf="selectedCompany" class="mb-3 row">
            <label for="email" class="col-sm-3 col-form-label">Email:</label>
            <div class="col-sm-9">
              <input type="email" [(ngModel)]="User.email" class="form-control" id="email" name="email" placeholder="Correo electrónico" required>
            </div>
          </div>
  
          <div *ngIf="selectedCompany" class="mb-3 row">
            <label for="identification" class="col-sm-3 col-form-label">Identificación:</label>
            <div class="col-sm-9">
              <input type="text" [(ngModel)]="User.identification" class="form-control" id="identification" name="identification" placeholder="Ingrese su cédula" required>
            </div>
          </div>
  
          <div *ngIf="selectedCompany" class="mb-3 row">
            <label for="telephone" class="col-sm-3 col-form-label">Teléfono:</label>
            <div class="col-sm-9">
              <input type="text" [(ngModel)]="User.telephone" class="form-control" id="telephone" name="telephone" placeholder="Teléfono de contacto" required>
            </div>
          </div>
  
          <div *ngIf="selectedCompany" class="mb-3 row">
            <label for="direction" class="col-sm-3 col-form-label">Dirección:</label>
            <div class="col-sm-9">
              <input type="text" [(ngModel)]="User.direction" class="form-control" id="direction" name="direction" placeholder="Dirección de residencia" required>
            </div>
          </div>
  
          <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
   -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form (ngSubmit)="registrar()" #form="ngForm" enctype="multipart/form-data" novalidate>

                <h2 class="text-center">Registro de Usuario</h2>

                <div class="mb-3 row">
                    <label for="tenantId" class="col-sm-3 col-form-label">Empresas registradas</label>
                    <div class="col-sm-9">
                        <select [(ngModel)]="selectedCompany" (ngModelChange)="onCompanySelect()" class="form-control" id="tenantId" name="tenantId" required>
                            <option value="null" disabled selected>Seleccione su empresa</option>
                            <option *ngFor="let company of companys" [ngValue]="company">{{ company.nameCompany }}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="form.submitted && form.controls['tenantId'].errors?.['required']"> Seleccione una empresa.
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedCompany" class="mb-3 row">
                    <label for="username" class="col-sm-3 col-form-label">Nombre:</label>
                    <div class="col-sm-9">
                        <input type="text" [(ngModel)]="User.username" class="form-control" id="username" name="username" placeholder="Nombres y apellidos" required>
                        <div class="invalid-feedback" *ngIf="form.submitted && form.controls['username'].errors?.['required']"> El nombre es requerido.
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedCompany" class="mb-3 row">
                    <label for="email" class="col-sm-3 col-form-label">Email:</label>
                    <div class="col-sm-9">
                        <input type="email" [(ngModel)]="User.email" class="form-control" id="email" name="email" placeholder="Correo electrónico" required>
                        <div class="invalid-feedback" *ngIf="form.submitted && form.controls['email'].errors?.['required']">
                            El correo electrónico es requerido.
                        </div>
                        <div class="invalid-feedback" *ngIf="form.submitted && form.controls['email'].errors?.['email']">
                            El correo electrónico no es válido.
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedCompany" class="mb-3 row">
                    <label for="identification" class="col-sm-3 col-form-label">Identificación:</label>
                    <div class="col-sm-9">
                        <input type="text" [(ngModel)]="User.identification" class="form-control" id="identification" name="identification" placeholder="Ingrese su cédula" required>
                        <div class="invalid-feedback" *ngIf="form.submitted && form.controls['identification'].errors?.['required']">
                            La identificación es requerida.
                        </div>

                    </div>
                </div>

                <div *ngIf="selectedCompany" class="mb-3 row">
                    <label for="telephone" class="col-sm-3 col-form-label">Teléfono:</label>
                    <div class="col-sm-9">
                        <input type="text" [(ngModel)]="User.telephone" class="form-control" id="telephone" name="telephone" placeholder="Teléfono de contacto" required>
                        <div class="invalid-feedback" *ngIf="form.submitted && form.controls['telephone'].errors?.['required']">
                            El teléfono es requerido.
                        </div>

                    </div>
                </div>

                <div *ngIf="selectedCompany" class="mb-3 row">
                    <label for="direction" class="col-sm-3 col-form-label">Dirección:</label>
                    <div class="col-sm-9">
                        <input type="text" [(ngModel)]="User.direction" class="form-control" id="direction" name="direction" placeholder="Dirección de residencia" required>
                        <div class="invalid-feedback" *ngIf="form.submitted && form.controls['direction'].errors?.['required']">
                            La dirección es requerida.
                        </div>

                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- 

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form (ngSubmit)="registrar()" #form="ngForm" enctype="multipart/form-data" novalidate>

                <h2 class="text-center">Registro de Usuario</h2>

                <div class="mb-3 row">
                    <label for="tenantId" class="col-sm-3 col-form-label">Empresas registradas</label>
                    <div class="col-sm-9">
                        <select [(ngModel)]="selectedCompany" (ngModelChange)="onCompanySelect()" class="form-control" id="tenantId" name="tenantId" required>
                <option value="null" disabled selected>Seleccione su empresa</option>
                <option *ngFor="let company of companys" [ngValue]="company">{{ company.nameCompany }}</option>
              </select>
                        <div class="invalid-feedback" *ngIf="form.submitted && form.controls['tenantId'].errors?.required">
                            Seleccione una empresa.
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedCompany" class="mb-3 row">
                    <label for="username" class="col-sm-3 col-form-label">Nombre:</label>
                    <div class="col-sm-9">
                        <input type="text" [(ngModel)]="User.username" class="form-control" id="username" name="username" placeholder="Nombres y apellidos" required>
                        <div class="invalid-feedback" *ngIf="form.submitted && form.controls['username'].errors?.required">
                            El nombre es requerido.
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedCompany" class="mb-3 row">
                    <label for="email" class="col-sm-3 col-form-label">Email:</label>
                    <div class="col-sm-9">
                        <input type="email" [(ngModel)]="User.email" class="form-control" id="email" name="email" placeholder="Correo electrónico" required>
                        <div class="invalid-feedback" *ngIf="form.submitted && form.controls['email'].errors?.required">
                            El correo electrónico es requerido.
                        </div>
                        <div class="invalid-feedback" *ngIf="form.submitted && form.controls['email'].errors?.email">
                            El correo electrónico no es válido.
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedCompany" class="mb-3 row">
                    <label for="identification" class="col-sm-3 col-form-label">Identificación:</label>
                    <div class="col-sm-9">
                        <input type="text" [(ngModel)]="User.identification" class="form-control" id="identification" name="identification" placeholder="Ingrese su cédula" required>
                        <div class="invalid-feedback" *ngIf="form.submitted && form.controls['identification'].errors?.required">
                            La identificación es requerida.
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedCompany" class="mb-3 row">
                    <label for="telephone" class="col-sm-3 col-form-label">Teléfono:</label>
                    <div class="col-sm-9">
                        <input type="text" [(ngModel)]="User.telephone" class="form-control" id="telephone" name="telephone" placeholder="Teléfono de contacto" required>
                        <div class="invalid-feedback" *ngIf="form.submitted && form.controls['telephone'].errors?.required">
                            El teléfono es requerido.
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedCompany" class="mb-3 row">
                    <label for="direction" class="col-sm-3 col-form-label">Dirección:</label>
                    <div class="col-sm-9">
                        <input type="text" [(ngModel)]="User.direction" class="form-control" id="direction" name="direction" placeholder="Dirección de residencia" required>
                        <div class="invalid-feedback" *ngIf="form.submitted && form.controls['direction'].errors?.required">
                            La dirección es requerida.
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div> -->