
      <div class="row">
          <div class="col-lg-11">
            <div class="card border-dark mb-3" style="background-color: rgba(220, 216, 216, 0.362);">
                  <div class="card-body text-center">
                    <div>
                        <span class = "titulo">LISTA DE CONSULTAS</span>
                        <button (click)="openModal()" class="btn btn-success border-dark float-end">NUEVO</button>
                        <button (click)="cerrarModal()" class="btn btn-secondary border-dark float-start">VOLVER</button>
                      </div>
                      
                      <br>
  
                      <div class="mb-3">
                        <input type="text" class="form-control custom-input" placeholder="Buscar por referencia" [(ngModel)]="searchTermReferencia" (ngModelChange)="filtrarQuery()">
                      </div>
                      
                      <table *ngIf="filteredQuery.length > 0" class="table table-bordered table-light table-hover border-dark mt-3">
                          <thead>
                            <tr>
                              <th scope="col">Identificador</th>
                              <th scope="col">Pregunta</th>
                              <th scope="col">Respuesta</th>
                              <th scope="col">Subclase</th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
                          <tbody>
                              
                            <tr *ngFor="let query of filteredQuery">
                              <td>{{ query.identifier }}</td>
                              <td>{{ query.question }}</td>
                              <td>{{ query.answer }}</td>
                              <td>{{ query.subcategory.name }}</td>
                              <td>
                                <i [routerLink]="['/editar-consulta', query._id]" class="fas fa-edit text-primary"></i>
                                <i (click)="deleteAQuery(query._id)" class="fas fa-trash text-danger"></i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
  
                        <h6 style="text-align: start; margin-top: 10px" *ngIf="filteredQuery.length === 0">No hay productos para mostrar.</h6>
                        
                  </div>
              </div>
          </div>
      </div>
  