<!-- <div class="modal-content">
    <h3>Detalles de Company</h3>
    <p>Telefono: {{ company?.telephoneCompany }}</p>
    <p>NIT: {{ company?.tenantId }}</p>
    <p>Email: {{ company?.emailCompany }}</p>
    <p>Direccion: {{ company?.directionCompany }}</p>
    <p>Rut: <button (click)="verRut()">Descargar Rut</button></p>   
  </div>
   -->

   <div class="card">
    <div class="card-body">
      <h2 class="card-title text-center">Datos de la Empresa</h2>
      <div class="row">
        <div class="col-sm-6">
          <p class="card-text mb-2 font-size-lg">Teléfono:</p>
          <p class="card-text mb-2 font-size-lg">NIT:</p>
          <p class="card-text mb-2 font-size-lg">Email:</p>
          <p class="card-text mb-2 font-size-lg">Dirección:</p>
          <p class="card-text mb-2 font-size-lg">RUT:</p>
        </div>
        <div class="col-sm-6">
          <p class="card-text mb-2 font-size-lg">{{ company?.telephoneCompany }}</p>
          <p class="card-text mb-2 font-size-lg">{{ company?.tenantId }}</p>
          <p class="card-text mb-2 font-size-lg">{{ company?.emailCompany }}</p>
          <p class="card-text mb-2 font-size-lg">{{ company?.directionCompany }}</p>
          <p class="card-text mb-2 font-size-lg"> <button (click)="verRut()" class="btn btn-link">Descargar RUT</button></p>
        </div>
      </div>
      <!-- Agrega más detalles si es necesario -->
    </div>
  </div>
  
  