<p-menubar [model]="items" [style.width.%]="100" class="menu-contain" styleClass="custom-menubar">

  <ng-template pTemplate="start">
    <div class="p-d-flex p-flex-row p-align-center">
      <a routerLink="/" *ngIf="!isLoggedIn"><img class="logo" src="../../assets/logo_little_box.png" height="40"
          class="mr-2"></a>
      <button pButton type="button" (click)="sidebarVisible = true" icon="pi pi-bars"
        class="p-button-rounded p-button-outlined p-ml-auto mr-2" heigth="40" *ngIf="isLoggedIn"></button>
    </div>
  </ng-template>
 
  <ng-template pTemplate="end">
    <div class="cont-notifi-singIn-quit ">
      <div *ngIf="isLoggedIn" class="cont-notification">
        <button pButton type="button" (click)="openNotifications()"  class="btn-bell">
          <i class="pi pi-bell"></i> 
          <!-- <img class="img-Bell" src="../../assets/bell.svg"> -->
        </button>
        <p-badge [value]="miValorComoString" severity="danger" [style]="{ 'margin-left': '4px' }"></p-badge>
        <div *ngIf="showNotifications" class="notification-menu p-shadow-4">
          <app-notifications></app-notifications>
        </div>
      </div>
      <div class="p-d-flex p-flex-row-reverse p-align-center">
        <button *ngIf="isLoggedIn" pButton type="button" (click)="logout()" icon="pi pi-power-off"
          class="p-button-rounded p-button-outlined" height="40" class="mr-2">Quit</button>
        <button *ngIf="!isLoggedIn" pButton type="button" (click)="openModal()" icon="pi pi-user-plus"
          class="p-button-rounded p-button-outlined" height="40" class="mr-2">SignIn/Up</button>
      </div>
    </div>
    
  </ng-template>

  <!-- <ng-template pTemplate="content" styleClass="custom-menu-content">
    <div class="p-d-flex p-flex-row p-align-center p-mx-auto">
      <ng-container *ngFor="let item of items">
        <a pMenuItem [routerLink]="item.routerLink" class="menu-item" *ngIf="item.visible" styleClass="custom-menuitem">
          <span class="p-menuitem-text">{{ item.label }}</span>
          <i [class]="item.icon"></i>
        </a>
      </ng-container>
    </div>
  </ng-template> -->

</p-menubar>

<div class="card flex justify-content-center">
  <p-sidebar #sidebarRef [(visible)]="sidebarVisible">
    <ng-template pTemplate="headless">
    <app-sidebar></app-sidebar>
    <!-- <p-button type="button" (click)="closeCallback($event)" icon="pi pi-times" [rounded]="true" [outlined]="true" styleClass="h-2rem w-2rem"></p-button> -->
  </ng-template>
  </p-sidebar>
</div>

<!-- Mostrar el modal de registro si se abre -->
<div class="modal" [class.active]="modalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <app-pre-registro></app-pre-registro>
  </div>
</div>