.container {
    margin-top: 50px;
  }
  
  .btn-primary {
    margin-top: 20px;
  }

  .titles {
    font-weight: bold;
  }

  .titleModal {
    font-weight: bold;
    font-size: 1.5Rem;
    color: rgb(255, 255, 255);
  }