<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card border-dark mb-3" style="background-color: rgba(220, 216, 216, 0.362);">
                <div class="card-body text-center">
                    <div class="card-title">
                        <span class="titulo">SELECCIONA EL TIPO DE CHATBOT A CONFIGURAR</span>
                    </div>
                    <button class="btn btn-secondary border-info float-start" (click)="openModal()">USERS</button>
                    <button class="btn btn-secondary border-info text-center" (click)="openModalWT()">VISITANTES</button>
                </div>
            </div>
        </div>
    </div>
</div>
