<!-- <div class="notification-container">
  <h2>Notificaciones</h2>
  <ul>
    <li *ngFor="let notification of notifications">
      {{ notification.message }}
    </li>
  </ul>
</div> -->
<!-- notification-list.component.html -->
<div class="notification-container">
  <h2>Notificaciones</h2>
  <ul>
    <li *ngFor="let notification of notifications" [ngClass]="{ 'unread': !notification.read }">
      <!-- Si la notificación tiene una URL, mostrar un enlace -->
      <div (click)="handleClickNotification(notification._id)">
        <a *ngIf="notification.url" [routerLink]="notification.url">
          {{ notification.message }}
        </a>
      </div>
      <!-- Si no tiene una URL, solo mostrar el mensaje de la notificación -->
      <ng-container *ngIf="!notification.url">
        {{ notification.message }}
      </ng-container>
    </li>
  </ul>
</div>

