<br>
<div class="container d-flex justify-content-center mt-5 mb-2">
    <div class="card" style="width: 40rem;">
        <div class="card-header">
            <h1 class="text-center">Crear Egreso</h1>
        </div>
        <div class="card-body">
            <form (ngSubmit)="guardarEgreso()" class="row g-3 p-4">
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="fecha">Fecha de Solicitud</label>
                    <input [(ngModel)]="fecha" name="fecha" class="form-control" type="date" id="fecha" required #fechaModel="ngModel" />
                    <div *ngIf="fechaModel.touched && fechaModel.invalid" class="text-danger">
                        Debe seleccionar una fecha.
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="valor">Valor solicitado</label>
                    <input [(ngModel)]="valor" name="valor" class="form-control" type="number" id="valor" required #valorModel="ngModel" />
                    <div *ngIf="valorModel.touched && valorModel.invalid" class="text-danger">
                        Debe ingresar un valor numérico.
                    </div>
                </div>

                <div class="col-md-12">
                    <label class="form-label" for="tercero">Seleccione el proveedor</label>
                    <select [(ngModel)]="selectedTercero" name="tercero" class="form-select" id="tercero" required #terceroModel="ngModel">
                        <option value="" disabled selected>Seleccione el proveedor</option>
                        <option *ngFor="let terceroItem of tercero" [value]="terceroItem._id">{{ terceroItem.nombreTercero }}</option>
                    </select>
                    <div *ngIf="terceroModel.touched && terceroModel.invalid" class="text-danger">
                        Debe seleccionar un proveedor.
                    </div>


                    <p class="card-text bg-light" style="transform: rotate(0);">
                        <a (click)="openModal()" type="button" class="btn btn-info btn-sm mt-2" class="stretched-link">crea un nuevo proveedor</a>
                    </p>
                </div>

                <div class="col-md-12">
                    <label class="form-label" for="categoria">Seleccione categoría de solicitud</label>
                    <select [(ngModel)]="selectedCategoria" name="categoria" class="form-select" id="categoria" required #categoriaModel="ngModel">
                        <option value="" disabled selected>Seleccione categoría de solicitud</option>
                        <option *ngFor="let categoriaItem of categoria" [value]="categoriaItem._id">{{ categoriaItem.nombre }}</option>
                    </select>
                    <div *ngIf="categoriaModel.touched && categoriaModel.invalid" class="text-danger">
                        Debe seleccionar una categoría.
                    </div>
                </div>

                <div class="col-md-12">
                    <label class="form-label" for="detalle">Ingresa el detalle del egreso</label>
                    <textarea [(ngModel)]="detalle" name="detalle" class="form-control" id="detalle" rows="2" style="resize: none;" required #detalleModel="ngModel"></textarea>
                    <div *ngIf="detalleModel.touched && detalleModel.invalid" class="text-danger">
                        Ingresa el detalle del egreso.
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Factura:</label>
                    <input type="file" (change)="onFileSelected($event)" name="factura" class="form-control">
                </div>

                <div class="col-sm-4 d-flex end">
                    <button type="button" class="btn btn-secondary mr-2" style="text-decoration: none; color: white;" routerLink="/home">Volver</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>