<div class="center-container">
  <div *ngIf="!mostrarCodigoInput" class="form-container">
    <div class="input-group">
      <input type="email" [(ngModel)]="email" placeholder="Correo electrónico" class="form-control">
      <button class="btn btn-primary" (click)="solicitarRestablecimiento()">Enviar código de restablecimiento</button>
    </div>
  </div>
  
  <div *ngIf="mostrarCodigoInput" class="form-container">
    <div class="input-group">
      <input type="text" [(ngModel)]="codigo" placeholder="Código de restablecimiento" class="form-control">
      <input type="password" [(ngModel)]="newPassword" placeholder="Nueva contraseña" class="form-control">
      <button class="btn btn-primary" (click)="resetPasswordhtml()">Restablecer contraseña</button>
    </div>
  </div>
</div>
