<div class="container d-flex justify-content-center needs-validation mt-5 mb-2" novalidate>
    <div class="card" style="width: 40rem;">
        <div class="card-header">
            <h1 class="text-center">Registrar un nuevo proveedor</h1>

        </div>
        <div class="card-boody">

            <form (ngSubmit)="guardarTercero()" class="row g-3 p-4 ">

                <div class="mb-3">
                    <label class="form-label">Nombre del proveedor:</label>
                    <input type="text" [(ngModel)]="tercero.nombreTercero" name="nombreTercero" class="form-control" required>
                </div>
                <div *ngIf="tercero.nombreTercero.control.touched && tercero.nombreTercero.control.invalid" class="text-danger">
                    El campo nombre del proveedor es requerido
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Número de documento:</label>
                    <input type="text" [(ngModel)]="tercero.documentoTercero" name="documentoTercero" class="form-control" required>
                </div>
                <div *ngIf="tercero.documentoTercero.control.touched && tercero.documentoTercero.control.invalid" class="text-danger">
                    El campo Número de documento es requerido
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Dirección:</label>
                    <input type="text" [(ngModel)]="tercero.direccionTercero" name="direccionTercero" class="form-control" required>
                </div>
                <div *ngIf="tercero.direccionTercero.control.touched && tercero.direccionTercero.control.invalid" class="text-danger">
                    El campo Dirección es requerido
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Teléfono:</label>
                    <input type="text" [(ngModel)]="tercero.telefonoTercero" name="telefonoTercero" class="form-control" required>
                </div>
                <div *ngIf="tercero.telefonoTercero.control.touched && tercero.telefonoTercero.control.invalid" class="text-danger">
                    El campo Teléfono es requerido
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Email:</label>
                    <input type="email" [(ngModel)]="tercero.emailTercero" name="emailTercero" class="form-control">
                </div>
                <div *ngIf="tercero.emailTercero.control.touched && tercero.emailTercero.control.invalid" class="text-danger">
                    El campo Email es requerido
                </div>

                <button type="submit" class="col-md-2 btn btn-primary mx-auto justify-content-center ">Guardar Tercero</button>
            </form>

        </div>
    </div>
</div>