.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #08090B;
  z-index: 1000;
}

.sidebar-menu li {
  padding: 10px 20px;
  list-style-type: none; /* Elimina el punto */
  transition: background-color 0.4s; /* Agrega transición suave al cambio de color de fondo */
  margin-right: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.sidebar-menu li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.2); /* Agrega línea divisoria entre elementos */
}

.sidebar-menu li:hover {
  border-radius: 4px;
  background-color: rgba(9, 48, 245, 1); /* Cambia el color de fondo al pasar el mouse */
  
}

.sidebar-menu li a {
  color: #090909; /* Color de texto predeterminado */
  text-decoration: none; /* Quita el subrayado */
}

.sidebar-menu li a:hover {
  color: #f8f8f9; /* Color de texto al pasar el mouse */
}


