
.cont-fecha-add{
    display: flex;
    align-items: flex-end;  
    justify-content: space-between;
}

.titulo{
    text-align: center;
    align-items: center;
}
.filtro-fechas{
    display: flex;
    align-items: center;
    justify-content: left;
    align-items: flex-end;
}

.cont-fecha{
   
    margin-right: 3rem; /* Espacio entre elementos */
}


