<div class="row">
    <div class="col-lg-11">
      <div class="card border-dark mb-3" style="background-color: rgba(220, 216, 216, 0.362);">
        <div class="card-body text-center">
          <div>
            <span class="titulo">LISTA DE SUBCATEGORIAS</span>
            <button class="btn btn-success border-dark float-end" (click)="openModal()">NUEVO</button>
            <button (click)="cerrarModal()" class="btn btn-secondary border-dark float-start">VOLVER</button>
          </div>
          <br>
          <div class="input-group mb-3 ">
            <input type="text" class="form-control custom-input" placeholder="Buscar por nombre" [(ngModel)]="searchTerm" (ngModelChange)="filtrarSubcategory()" />
          </div>
  
  
          <div style="overflow-y: auto; max-height: 150px;"> 
          <table *ngIf="filteredSubcategory.length > 0" class="table table-bordered table-light table-hover border-dark mt-3">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Categoria</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subcategory of filteredSubcategory">
                <td>{{ subcategory.name }}</td>
                <td>{{ subcategory.description }}</td>
                <td>{{ subcategory.category.name }}</td>
                  <td>
                    <img *ngIf="rolUsuario === 'SuperUsuario' || subcategory.category._id !== '66142acae59265aeb5525a37'" (click)="openEditModal(subcategory._id)" class="img-icon" src="../../../assets/boligrafo.png">
                    <img *ngIf="rolUsuario === 'SuperUsuario' || subcategory.category._id !== '66142acae59265aeb5525a37'" (click)="eliminarSubcategory(subcategory._id)" class="img-icon" src="../../../../assets/boton-x.png">
                  </td>
              </tr>
            </tbody>
          </table>
  
          <h6 style="text-align: start; margin-top: 10px" *ngIf="filteredSubcategory.length === 0">No hay productos para mostrar.</h6>
  
        </div>
      </div>
    </div>
  </div>
  