/* You can add global styles to this file, and also import other style files */


.titulo {
    font-size: 15px;
    font-family: 'Oswald'
}

#subtitulo{
    font-size: 1.0rem;
    font-family: 'Inter', sans-serif;
}