// .container {
//     background-color: #f2f2f2;
//     padding: 20px;
//     width: 70%;
//     margin: 50px auto;
// }
// .filters {
//     background-color: rgba(233, 227, 227, 0.8);
//     padding: 20px;
//     margin-bottom: 20px;
//     border: 1px solid #c6bdbd;
//     border-radius: 10px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
//     /* Agrega sombra al contenedor */
// }
// .filters label,
// .filters input,
// .filters select,
// .filters button {
//     margin-right: 10px;
//     margin-bottom: 10px;
// }
// .egresos-list table {
//     width: 100%;
//     border-collapse: collapse;
//     border-radius: 10px;
// }
// .egresos-list th,
// .egresos-list td {
//     padding: 10px;
//     border: 1px solid #ddd;
// }
// .no-egresos {
//     background-color: rgba(255, 255, 255, 0.8);
//     padding: 20px;
// }
// .additional-background {
//     background-color: #ddd;
//     padding: 20px;
//     width: 100%;
//     margin: 0 auto;
// }
// .movimiento-list table {
//     width: 100%;
//     border-collapse: collapse;
// }
// .movimiento-list th,
// .movimiento-list td {
//     padding: 12px;
//     border: 1px solid #ddd;
// }
// .movimiento-list th {
//     background-color: #f2f2f2;
//     text-align: left;
// }
// .movimiento-list tbody tr:nth-child(even) {
//     background-color: #f2f2f2;
// }
// .no-informes {
//     background-color: #fff;
//     padding: 20px;
//     border-radius: 10px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     margin-top: 20px;
// }
// .pagination-controls {
//     ul {
//         list-style-type: none;
//         padding: 0;
//         display: flex;
//         flex-direction: row;
//     }
//     li {
//         margin-right: 5px;
//         /* Espacio entre cada número de página */
//     }
//     a {
//         text-decoration: none;
//         padding: 5px 10px;
//         border: 1px solid #ccc;
//         border-radius: 3px;
//         background-color: #217be2;
//         color: white;
//     }
//     a:hover {
//         background-color: #0863db;
//     }
// }
.container {
    padding-top: 50px;
    margin-top: 50px;
}

.cont-component {
    margin-top: 50px;
    position: relative;
    height: 100vh;
}

.cont-principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.card {
    width: 100%;
}

.btn-block {
    // width: 100%;
    display: flex;
    justify-content: right;
    margin: 10px;
    float: right;
}

@media (max-width: 768px) {
    .cont-principal {
        max-width: 100%;
    }
}

body {
    margin: 0;
    padding: 0;
}

.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-image: linear-gradient(to bottom, #79cbe7, #a29b9b);
    /* Desde azul claro hasta blanco */
}

.form {
    width: 30%;
    margin: 90px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background-image: linear-gradient(to bottom, #79cbe7, #a29b9b);
    /* Desde azul claro hasta blanco */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    /* Sombra suave */
}

button {
    // background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    // cursor: pointer;
    float: right;
    /* Ajustar el ancho del botón al 100% del contenedor */
}

button:hover {
    background-color: #0056b3;
    margin: 10px;
    padding: 5px;
}


/* Estilos adicionales para los input */

input[type="text"],
input[type="email"] {
    width: calc(100% - 24px);
    /* Ajustar el ancho de los input al 100% del contenedor menos el padding */
    padding: 10px;
    margin-bottom: 10px;
    /* Espaciado entre inputs */
    border: 1px solid #ccc;
    /* Borde gris */
    border-radius: 5px;
    /* Bordes redondeados */
}

input[type="text"]:focus,
input[type="email"]:focus {
    outline: none;
    /* Eliminar el contorno de enfoque */
    border-color: #007bff;
    /* Cambiar el color del borde al enfocar */
}